@layout('layouts.master')

@section('content')
  <section class="py-20">
    <div class="container mx-auto">
      <div class="w-2/5 mx-auto">
        @include('partials.restaurant-create-heading')
        @include('partials.restaurant-create-form')
      </div>
    </div>
  </section>
@endsection
