<div class="pl-4">
  <h2 class="text-3xl mb-3">
    <i class="icofont-restaurant text-5xl"></i>
    <span>Update restaurant</span>
  </h2>
  <p class="text-grey-darker">
    Update restaurant details to keep your colleagues upto date
  </p>
</div>
