@if(restaurants.data.length)
  <div class="mb-20 flex justify-between items-center">
    <div>
      <h2 class="text-3xl mb-3"> Restaurants list </h2>
      <p class="text-grey-darkest text-lg"> Following is the list of restaurants added by you or your collageous.</p>
    </div>
    <div>
      <a href="" class="bg-primary text-white px-8 py-3 rounded no-underline mr-4"> My restaurants </a>
    </div>
  </div>
@endif
