<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title || 'What the lunch' }}</title>
  {{ style('icofont.min.css') }}
  {{ style('app') }}
</head>

<body class="bg-grey-light">
  <section>
    @include('partials.header')
    @!section('content')
  </section>

  {{ script('app') }}
</body>
</html>
